/* components.css */

/* 1. boxes */
/* 1-1. box-v1 */
.box-v1 {
    background: var(--white);
    padding: 60px 48px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: space-between;
    /* 위·아래 분배 */
    border-radius: 20px;
}

.box-v1 h3 {
    color: var(--main-color);
}

.box-v1 p {
    color: var(--grey-typo-light);
}


/* 1-2. box-v2 */
.box-v2 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.box-v2 .img-wrap {
    border-radius: 20px;
    overflow: hidden;
}

.box-v2 .img-wrap img {
    width: 100%;
}

.box-v2 .txt-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.box-v2 .txt-wrap h4 {}

.box-v2 .txt-wrap h6 {}

.box-v2 .txt-wrap p {}

/* 1-3. box-v3 */
.box-v3 {
    padding: 30px 24px;
    background-color: #646464;
    border-radius: 20px;
    border: 0.5px solid var(--grey-light);
    text-align: center;
    color: var(--white);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.box-v3 h3 {
    margin-bottom: 20px;
}

.box-v3 p.v1 {}

/* 1-4. box-v4 */

.box-v4 {
    border-radius: 24px;
    border: 1px solid #d9d9d9;
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: hidden;
}

.box-v4 i {
    width: 64px;
    height: 52px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-v4 i img {
    height: 100%;
}

.box-v4 .txt-wrap {
    padding: 0 4px;
}

.box-v4 .txt-wrap h4 {
    margin-bottom: 24px;
}

.box-v4 .txt-wrap p {}

/* 1-5. box-v5 */
.box-v5 {
    background-color: var(--white);
    padding: 60px 48px;
    border-radius: 20px;
    width: 648px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.box-v5 i {
    width: 48px;
    height: 48px;
}

.box-v5 i svg {
    color: var(--main-color);
    width: 100%;
    height: 100%;
}

.box-v5 i svg use {}

.box-v5 .txt-wrap {}

.box-v5 .txt-wrap h3 {
    margin-bottom: 28px;
}

.box-v5 .txt-wrap p.v1 {
    color: var(--grey-typo-light);
}


/* 2. title */
/* 2-1. title-v1 */
.title-v1 {}

.title-v1 .point-label {}

.title-v1 .point-label i {}

.title-v1 .point-label p {}

.title-v1 h2 {
    text-align: center;
}

/* 2-2. title-v2 */
.title-v2 {}

.title-v2 p.v1 {
    margin-top: 32px;
    color: var(--grey-typo-light);
}

/* 2-4. title-v4 */
.title-v4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* flex 아이템들을 하단 정렬 */
}

.title-v4 .title-v1 {}

.title-v4 .title-v1 .point-label {}

.title-v4 .point-label i {}

.title-v4 .point-label i svg {}

.title-v4 .point-label p {}

.title-v4 .txt-wrap {
    max-width: 750px;
}

.title-v4 .txt-wrap p {
    font-size: var(--pc-size-h4);
    line-height: normal;
}

/* 2-5. title-v5 */
/* 
<div class="title-v5">
 <h5 class="label">레이블</h5>
 <h2>제목</h2>
</div>
*/
.title-v5 {}

.title-v5 h5.label {
    margin-bottom: 18px;
}

.title-v5 h2 {}


/* 3. buttons */
/* 3-1. btn_name-icon-v1 */
.btn_name-icon-v1 {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.btn_name-icon-v1 a {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    column-gap: 12px;
    padding: 16px 24px;
    border-radius: 60px;
    font-weight: var(--font-weight-bold);
}

.btn_name-icon-v1 a i {}

.btn_name-icon-v1 a i svg {
    width: 26px;
    height: 26px;
}

.btn_name-icon-v1 a i svg use {}


/*  dark  */
.btn_name-icon-v1.dark a {
    background-color: var(--grey-light);
    color: var(--grey-typo-dark);
}

.btn_name-icon-v1.dark a i svg {
    color: var(--grey-typo-dark);
}

/* white */
.btn_name-icon-v1.white a {
    background-color: var(--white);
    color: var(--grey-typo-dark);
}

.btn_name-icon-v1.white a i svg {
    color: var(--grey-typo-dark);
}

/* black */
.btn_name-icon-v1.black a {
    background-color: var(--grey-typo-dark);
    color: var(--white);
}

.btn_name-icon-v1.black a i svg {
    color: var(--white);
}

/* 3-2. btn_name-icon-v2 */
.btn_name-icon-v2 {}

.btn_name-icon-v2 a {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 16px 20px;
    border-radius: 60px;
    font-weight: var(--font-weight-bold);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
}

.btn_name-icon-v2 a i {
    width: 24px;
    height: 24px;
}

.btn_name-icon-v2 a i img {
    width: 100%;
}

/* 3-3. btn_name */
.btn_name {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--white);
    border-radius: 60px;
}

.btn_name p.v1 {
    font-weight: var(--font-weight-bold);
}


/* 4. point-label */
.point-label {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
}

.point-label i {}

.point-label svg {
    width: 12px;
    height: 12px;
    color: var(--main-color);
}

.point-label p {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 32px;
    /* letter-spacing: 12%; */
    text-transform: uppercase;
}

/* 5. circle-box */
.circle-box {
    padding: 20px 44px;
    border: 0.5px solid var(--grey-light);
    border-radius: 500px;
    background-color: var(--grey-typo-light);

}

.circle-box .wrap {
    padding: 0 8px;
}

.circle-box .wrap .img-wrap {}

.circle-box .wrap .img-wrap img {
    width: 100%;
}

.circle-box .wrap p.keyword {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--white);
}

/* 5. header */
/* 5-1. header */
header {
    width: 100%;
    position: fixed;
    /* main보다 레이어 위로 고정 */
    display: flex;
    justify-content: center;
    padding: 30px 0;
    z-index: 9999;
    transition: transform 0.7s ease; /* components.js 2. header 스크롤에 따른 숨김/표시 */
}

/* 숨김 상태 */
header.is-hidden{
    transform: translateY(-100%);
  }

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* nav.menu의 기준 */
}

header h1 {}

header h1 a {
    width: 195px;
}

header h1 img {
    width: 100%;
    transition: all 0.7s ease;
}

header nav.menu {
    position: absolute;
    /* 기준 : header .inner */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header nav.menu ul {
    display: flex;
    column-gap: 60px;
}

header nav.menu ul li {}

header nav.menu ul li a {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2%;
    transition: all 0.2s ease-in-out;
    color: var(--label-grey);
    transition: all 0.7s ease;
}

header nav.menu ul li a span {
    color: var(--grey-typo-dark);
    font-weight: 700;
    transition: all 0.7s ease;
}

header .lang {
    width: 90px;
    position: relative;
    /* nav.lang-list의 기준 */
}

header .lang .current-lang {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;
}

header .lang .current-lang h6 {
    transition: all 0.7s ease;
}

header .lang .current-lang i {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

header .lang .current-lang i svg {
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;
}

header .lang .current-lang i:hover svg {
    fill: var(--main-color);
}


header .lang nav.lang-list {
    position: absolute;
    /* 기준 : header .lang */
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    display: none;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}

header .lang nav.lang-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 20px 0;
}

header .lang nav.lang-list ul li {}

header .lang nav.lang-list ul li a {
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: var(--label-grey);
}

header .lang nav.lang-list ul li a:hover {
    color: var(--grey-typo-dark);
}

/* 5-2. header.dark */
header.dark {
    background-color: var(--white);
    color: var(--grey-typo-dark);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

header.dark nav.menu ul li a {
    color: var(--label-grey);
}

header.dark nav.menu ul li a span {
    color: var(--grey-typo-dark);
}



/* 6.experience */
/* experience */
.experience {
    width: 100%;
    height: 700px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3)),
        url(../assets/images/experience_bg.jpg) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience .wrapper {
    text-align: center;
}

.experience .wrapper .txt {
    color: var(--white);
}

.experience .wrapper .txt p.title {
    font-weight: var(--font-weight-bold);
    font-size: 48px;
    margin-bottom: 24px;
}

.experience .wrapper .txt p.des {}

/* 7. footer */
/* footer */
footer {
    height: 400px;
    color: var(--main-color);
    padding: 120px 0;
}

footer .inner {
    margin: 0 auto;
}

footer .inner .info {
    display: flex;
    width: 100%;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--main-color);
    justify-content: space-between;
    margin-bottom: 48px;
}

footer .inner .info h1 {}

footer .inner .info h1 a {}

footer .inner .info h1 a img {}

footer .inner .info nav.menu {}

footer .inner .info nav.menu ul {
    display: flex;
    column-gap: 64px;
}

footer .inner .info nav.menu ul li {}

footer .inner .info nav.menu ul li a {
    color: var(--main-color);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

footer .copy {}

footer .copy p {
    text-align: right;
}



/* 반응형 별 컴포넌트 수정 : tablet, mobile */