/* token.css */
@charset "utf-8";

/* header */
header {
    color: var(--white);
}

header nav.menu ul li a {
    color: var(--label-white);
}

header nav.menu ul li a span {
    color: var(--white);
    font-weight: 700;
}


/* main */
main {
    width: 100%;
    height: 840px;
    background: linear-gradient(rgba(0, 0, 0, 0.1)), url(../assets/images/token/main_bg.png) center / cover no-repeat;
    overflow: hidden;
}

main .txt-wrap {
    text-align: center;
    padding-top: 270px;
    color: var(--white);
}

main .txt-wrap .point-label {
    justify-content: center;
}

main .txt-wrap .point-label p {
    color: var(--white);
}

main .txt-wrap h2 {}


/* article.msg */
article.msg {
    height: 360px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgb(7,5,2), rgb(35,35,35));}
    
article.msg h3 {
    text-align: center;
    color: var(--white);
}

/* article.token-rmv */
article.token-rmv {
    padding: 150px 0;
    background-color: var(--grey-light);
}

article.token-rmv .title-v2 {
    margin-bottom: 100px;
    text-align: center;
}

article.token-rmv .title-v2 .title-v1 {}

article.token-rmv .title-v2 .title-v1 .point-label {
    justify-content: center;
}

article.token-rmv .title-v2 .title-v1 .point-label i {}

article.token-rmv .title-v2 .title-v1 .point-label i svg {}

article.token-rmv .title-v2 .title-v1 .point-label i svg use {}

article.token-rmv .title-v2 .title-v1 .point-label p {}

article.token-rmv .title-v2 .title-v1 h2 {}

article.token-rmv .title-v2 p.v1 {}

article.token-rmv ul.contents {
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;
}

article.token-rmv ul.contents li.box-v5 {}

article.token-rmv ul.contents li.box-v5 i {}

article.token-rmv ul.contents li.box-v5 i svg {}

article.token-rmv ul.contents li.box-v5 i svg use {}

article.token-rmv ul.contents li.box-v5 .txt-wrap {}

article.token-rmv ul.contents li.box-v5 .txt-wrap h3 {}

article.token-rmv ul.contents li.box-v5 .txt-wrap p.v1 {}


/* article.token-economy */
article.token-economy {
    width: 100%;
    padding: 250px 0;
    background-color: var(--grey-typo-dark);
}

article.token-economy .inner {
    margin: 0 auto;
}

article.token-economy .title-v2 {
    text-align: center;
    color: var(--white);
    margin-bottom: 100px;
}

article.token-economy .title-v2 .title-v1 {}

article.token-economy .title-v2 .title-v1 .point-label {
    justify-content: center;
}

article.token-economy .title-v2 .title-v1 .point-label i {}

article.token-economy .title-v2 .title-v1 .point-label i svg {}

article.token-economy .title-v2 .title-v1 .point-label i svg use {}

article.token-economy .title-v2 .title-v1 .point-label p {
    color: var(--white);
}

article.token-economy .title-v2 .title-v1 h2 {}

article.token-economy .title-v2 p.v1 {
    color: var(--white);
}

article.token-economy .contents {
    width: 100%;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

article.token-economy .contents .donut-col {
    flex-basis: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-typo-middle);
    border-radius: 24px;
}

article.token-economy .contents .donut-col .donut-wrap {
    width: 400px;
    height: 400px;
    position: relative;
}

article.token-economy .contents .donut-col .donut-wrap canvas {}

article.token-economy .contents .donut-col .wrapper .btn_name {
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 10;
    padding: 8px 16px;
    white-space: nowrap;
}

article.token-economy .contents .donut-col .wrapper .btn_name p.v1 {}

article.token-economy .contents .donut-col ul.wrapper .donut-note-1 {}
article.token-economy .contents .donut-col ul.wrapper .donut-note-2 {}
article.token-economy .contents .donut-col ul.wrapper .donut-note-3 {}
article.token-economy .contents .donut-col ul.wrapper .donut-note-4 {}
article.token-economy .contents .donut-col ul.wrapper .donut-note-5 {}
article.token-economy .contents .donut-col ul.wrapper .donut-note-6 {}

article.token-economy .contents .table-wrap {
    flex-basis: 50%;
}

article.token-economy .contents .table-wrap table {
    color: var(--white);
}

article.token-economy .contents .table-wrap table caption {
    display: none;
}

article.token-economy .contents .table-wrap table tr {
    display: flex;
}

article.token-economy .contents .table-wrap table tr:first-child {
    background-color: var(--white);
    padding: 24px 50px 24px 30px;
    color: var(--grey-typo-middle);
    margin-bottom: 12px;
    border-radius: 12px;
}

article.token-economy .contents .table-wrap table tr:first-child th {}

article.token-economy .contents .table-wrap table tr:first-child th:first-child {
    margin-right: 267px;
}

article.token-economy .contents .table-wrap table tr:first-child th:last-child {
    margin-left: 119px;
}

article.token-economy .contents .table-wrap table tr~tr {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 0.5px solid var(--grey-light);
}

article.token-economy .contents .table-wrap table tr~tr th {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
article.token-economy .contents .table-wrap table tr~tr th:nth-child(1) {
    width: 300px;
    font-size: 20px;
    line-height: 28px;
    font-weight: var(--font-weight-bold);
}
article.token-economy .contents .table-wrap table tr~tr td:nth-child(2) {
    width: 60px;
    font-size: var(--pc-size-p);
    line-height: var(--pc-line-height-p-v1);
}
article.token-economy .contents .table-wrap table tr~tr td:nth-child(3) {
    width: 240px;
    font-size: var(--pc-size-p);
    line-height: var(--pc-line-height-p-v1);
}

article.token-economy .contents .table-wrap table tr~tr th i {
    width: 12px;
    height: 12px;
}
article.token-economy .contents .table-wrap table tr~tr th i svg {
    width: 100%;
    height: 100%;
}

article.token-economy .contents .table-wrap table tr~tr th i svg.blue {color: #80CAFF;}
article.token-economy .contents .table-wrap table tr~tr th i svg.green {color: #85E0A3;}
article.token-economy .contents .table-wrap table tr~tr th i svg.yellow {color: #FFD966;}
article.token-economy .contents .table-wrap table tr~tr th i svg.pink {color: #FFAFA3;}
article.token-economy .contents .table-wrap table tr~tr th i svg.orange {color: #FFC470;}
article.token-economy .contents .table-wrap table tr~tr th i svg.purple {color: #D9B8FF;}

article.token-economy .contents .table-wrap table tr~tr td {
    display: block;
}

article.token-economy .txt-wrap {
    text-align: center;
    color: var(--white);
}

article.token-economy .txt-wrap h3 {
    margin-bottom: 12px;
}

article.token-economy .txt-wrap h3 strong {}

article.token-economy .txt-wrap p.v1 {}