/* components.css */ 

/* 1. boxes */
/* 1-1. box-v1 */
.box-v1{
    background: var(--white);
    padding: 60px 48px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: space-between;   /* 위·아래 분배 */
    border-radius: 20px;
  }
  
  .box-v1 h3 {
    color: var(--main-color);
  }
  .box-v1 p {
    color: var(--grey-typo-light);
  }
  

/* 1-2. box-v2 */
.box-v2 {
    width: 464px; /* warning : 임의 너비, 추후 삭제 및 변경 */
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.box-v2 .img-wrap {
    border-radius: 20px;
    overflow: hidden;
}
.box-v2 .img-wrap img {
    width: 100%;
}
.box-v2 .txt-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.box-v2 .txt-wrap h4 {}
.box-v2 .txt-wrap h6 {}
.box-v2 .txt-wrap p {}


/* 2. title */
/* 2-1. title-v1 */
.title-v1 {}
.title-v1 .point-label {}
.title-v1 .point-label i {}
.title-v1 .point-label p {}
.title-v1 h2 {
    text-align: center;
}

/* 2-2. title-v2 */
.title-v2 {}
.title-v2 p.v1 {
    margin-top: 32px;
    color: var(--grey-typo-light);
}

/* 2-4. title-v4 */
.title-v4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* flex 아이템들을 하단 정렬 */
}

.title-v4 .title-v1 {}

.title-v4 .title-v1 .point-label {}

.title-v4 .point-label i {}

.title-v4 .point-label i svg {}

.title-v4 .point-label p {}

.title-v4 .txt-wrap {
    max-width: 750px;
}

.title-v4 .txt-wrap p {
    font-size: var(--pc-size-h4);
}

/* 2-5. title-v5 */
/* 
<div class="title-v5">
 <h5 class="label">레이블</h5>
 <h2>제목</h2>
</div>
*/
.title-v5 {}
.title-v5 h5.label {
    margin-bottom: 18px;
}
.title-v5 h2 {}


/* 3. buttons */
/* 3-1. btn_name-icon-v1 */
/*  white  */
button.btn_name-icon-v1 {}
button.btn_name-icon-v1 a {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    column-gap: 12px;
    padding: 16px 24px;
    border-radius: 60px;
    font-weight: var(--font-weight-bold);
}
button.btn_name-icon-v1 a i {}
button.btn_name-icon-v1 a i svg {
    width: 26px;
    height: 26px;
}
button.btn_name-icon-v1 a i svg use {}

/*  light  */
button.btn_name-icon-v1.light a {
    background-color: var(--grey-light);
    color: var(--grey-typo-dark);
}
button.btn_name-icon-v1.light a i svg {
    color: var(--grey-typo-dark);
}
/* white */
button.btn_name-icon-v1.white a {
    background-color: var(--white);
    color: var(--grey-typo-dark);
}
button.btn_name-icon-v1.white a i svg {
    color: var(--grey-typo-dark);
}

/* black */
button.btn_name-icon-v1.black a {
    background-color: var(--grey-typo-dark);
    color: var(--white);
}
button.btn_name-icon-v1.black a i svg {
    color: var(--white);
}

/* 3-2. btn_name-icon-v2 */
/* 3-3. btn_name */


/* 4. point-label */
.point-label {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
}
.point-label i {}
.point-label svg {
    width: 12px;
    height: 12px;
    color: var(--main-color);
}
.point-label p {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 32px;
    /* letter-spacing: 12%; */
    text-transform: uppercase;
}

/* 5. circle-box */
.circle-box {
    padding: 20px 44px;
    border: 0.5px solid var(--grey-light);
    border-radius: 500px;
    background-color: var(--grey-typo-light);

}
.circle-box .wrap {
    padding: 0 8px;
}
.circle-box .wrap .img-wrap {}
.circle-box .wrap .img-wrap img {
    width: 100%;
}
.circle-box .wrap p.keyword {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--white);
}




/* 반응형 별 컴포넌트 수정 : tablet, mobile */