/* index.css */
@charset "utf-8";

/* header */
header {
    width: 100%;
    position: fixed;
    /* main보다 레이어 위로 고정 */
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* nav.menu의 기준 */
}

header h1 {}

header h1 a {
    width: 195px;
}

header h1 img {
    width: 100%;
}

header nav.menu {
    position: absolute;
    /* 기준 : header .inner */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header nav.menu ul {
    display: flex;
    column-gap: 60px;
}

header nav.menu ul li {}

header nav.menu ul li a {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2%;
    transition: all 0.2s ease-in-out;
}

header nav.menu ul li a:hover {
    color: var(--main-color);
}

header .lang {
    position: relative;
    /* nav.lang-list의 기준 */
}

header .lang .current-lang {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

header .lang .current-lang h6 {}

header .lang .current-lang i {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

header .lang .current-lang i svg {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

header .lang .current-lang i:hover svg {
    fill: var(--main-color);
}


header .lang nav.lang-list {
    position: absolute;
    /* 기준 : header .lang */
    top: 28px;
    width: 100%;
    display: none;
    /* warning : 임시 숨김 처리 */
}

header .lang nav.lang-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 20px 0;
}

header .lang nav.lang-list ul li {}

header .lang nav.lang-list ul li a {
    transition: all 0.2s ease-in-out;
    text-align: center;
}

header .lang nav.lang-list ul li a:hover {
    color: var(--main-color);
}

/* main */
main {
    width: 100%;
    height: 900px;
    background: url(../assets/images/main_01.jpg) center / cover no-repeat;
}

main .txt-wrap {
    width: 100%;
    text-align: center;
    padding-top: 220px;

}

main .txt-wrap p.title {
    line-height: normal;
    font-size: 64px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 22px;
}

main .txt-wrap p.des {
    color: var(--grey-typo-middle);
    font-size: var(--pc-size-p-large);
    line-height: var(--pc-line-height-p-large);
}

/* .article-wrapper */
.article-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px 0;
    row-gap: 250px;
}

/* about-us */
.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
    align-items: center;
}



.about-us .title .txt-wrap p {
    font-weight: var(--font-weight-bold);
    font-size: 36px;
    line-height: 50px;
}

.about-us .title .txt-wrap p strong {}

/* warning : 채워넣기 > 슬픔과 그리움 속 치유의 공간 */
.about-us .contents-container {
    width: 100%;
    padding: 200px 0;
    background-color: var(--main-color);
}

.about-us .contents-container .inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.about-us .contents-container .inner .title-wrap {
    width: 100%;
    color: var(--white);
    text-align: center;
}

.about-us .contents-container .inner .title-wrap .title-v5 {
    margin-bottom: 24px;
}

.about-us .contents-container .inner .title-wrap .title-v5 h5.label {}

.about-us .contents-container .inner .title-wrap .title-v5 h2 {}

.about-us .contents-container .inner .title-wrap p {}

.about-us .contents-container .inner .box-wrap {
    width: 100%;
    display: flex;
    column-gap: 24px;
}

.about-us .contents-container .inner .box-wrap .box-v1 {
    flex: 1;
}

.about-us .contents-container .inner .box-wrap .box-v1 h3 {}

.about-us .contents-container .inner .box-wrap .box-v1 p {}

.about-us .contents-container .inner .charts {
    width: 100%;
    display: flex;
    column-gap: 34px;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding-top: 50px;
    align-items: center;
}

.about-us .contents-container .inner .charts .donut-col {
    position: relative;
}

.about-us .contents-container .inner .charts .donut-col .donut-wrap {
    width: 580px;
    position: relative;
}

.about-us .contents-container .inner .charts .donut-col .donut-wrap canvas#donut {
    display: block;
    width: 100%;
}

.about-us .contents-container .inner .charts .donut-col h6.des {
    text-align: center;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 12px 20px;
    background-color: var(--white);
    color: var(--main-color);
    border-radius: 60px;
    display: none;
    /* 페이드 효과를 위해 기본적으로 숨김 */
}

.about-us .contents-container .inner .charts .donut-col p.per {
    position: absolute;
    font-size: 64px;
    font-weight: var(--font-weight-bold);
    left: 50%;
    top: 50%;
    transform: translate(-50%,20px);
}

.about-us .contents-container .inner .charts .donut-col h3.donut-note {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.about-us .contents-container .inner .charts .bars-col {
    width: 640px;
}

.about-us .contents-container .inner .charts .bars-col p {}
.about-us .contents-container .inner .charts .bars-col .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.about-us .contents-container .inner .charts .bars-col .wrapper .bar-box {
    width: 100%;
    position: relative;
    background-color: var(--white-25);
    width: 640px;
}
.about-us .contents-container .inner .charts .bars-col .wrapper .bar-box h4 {
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.about-us .contents-container .inner .charts .bars-col .wrapper .bar-box canvas.bar {
    width: 100%;
}



/*******************************************/

.ai-memory-pet {
    padding: 200px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--grey-typo-dark);
}

.ai-memory-pet .whole-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ai-memory-pet .whole-wrapper .contents-wrap {
    width: 708px;
    color: var(--white);
    flex-shrink: 0;
    margin-bottom: 64px;
    margin-right: 20px;
}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap {
    margin-bottom: 64px;
}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .title-v5 {
    margin-bottom: 48px;
}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .title-v5 h5.label {
    color: var(--label-grey);

}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .title-v5 h2 {}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .wrapper {}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .wrapper h4 {
    margin-bottom: 24px;

}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .wrapper .des-wrap {}

.ai-memory-pet .whole-wrapper .contents-wrap .txt-wrap .wrapper .des-wrap p {}

.ai-memory-pet .whole-wrapper .contents-wrap .circle-wrap {
    width: 100%;
    display: flex;
    column-gap: 18px;
}

.ai-memory-pet .whole-wrapper .contents-wrap .circle-wrap .circle-box {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}


.ai-memory-pet .whole-wrapper .video-wrap {
    flex-shrink: 0;
    width: 610px;
    height: 610px;
    border-radius: 20px;
    overflow: hidden;
}

.ai-memory-pet .whole-wrapper .video-wrap video {}

.ai-memory-pet .whole-wrapper .video-wrap video source {}



/* platform */
.platform {
    max-width: 1271px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.platform .left-contents {
    width: 625px;
    padding-right: 50px;
}

.platform .left-contents .title-v2 {
    margin-bottom: 50px;
}

.platform .left-contents .title-v2 .title-v1 {}

.platform .left-contents .title-v2 .title-v1 .point-label {}

.platform .left-contents .title-v2 .title-v1 .point-label i {}

.platform .left-contents .title-v2 .title-v1 .point-label i img {}

.platform .left-contents .title-v2 .title-v1 .point-label p {}

.platform .left-contents .title-v2 .title-v1 h2 {
    text-align: left;
}

.platform .left-contents .title-v2 p.v1 {}

.platform .left-contents button.btn_name-icon-v1 {}

.platform .left-contents button.btn_name-icon-v1 a {}

.platform .left-contents button.btn_name-icon-v1 a i {}

.platform .left-contents button.btn_name-icon-v1 a i img {}

.platform .right-contents {
    width: 416px;
}

.platform .right-contents video {
    width: 100%;
}

.platform .right-contents video source {}

/* token */
.token {
    width: 100%;
    height: 780px;
    background:
        linear-gradient(rgba(21, 21, 21, 0.6)),
        url(../assets/images/token_bg.png) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token .txt-wrap {
    text-align: center;
}

.token .txt-wrap .title-v2 {
    margin-bottom: 48px;
}

.token .txt-wrap .title-v2 .title-v1 {}

.token .txt-wrap .title-v2 .title-v1 .point-label {
    justify-content: center;
}

.token .txt-wrap .title-v2 .title-v1 .point-label i {}

.token .txt-wrap .title-v2 .title-v1 .point-label i img {}

.token .txt-wrap .title-v2 .title-v1 .point-label p {
    color: var(--white);
}

.token .txt-wrap .title-v2 .title-v1 h2 {
    color: var(--white);
}

.token .txt-wrap .title-v2 p.v1 {
    color: var(--white);
}

.token .txt-wrap .btn_name-icon-v1 {
    display: inline-block;
}

/* eco-system */
.eco-system {
    width: 100%;
    padding: 200px 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    color: var(--white);
}

.eco-system .title-v5 {
    text-align: center;
    margin-bottom: 48px;
}

.eco-system .title-v5 h5.label {}

.eco-system .title-v5 h2 {}

.eco-system .contents {}

.eco-system .contents ul {
    display: flex;
    column-gap: 20px;
}

.eco-system .contents ul li.box-v2 {}

.eco-system .contents ul li.box-v2 .img-wrap {}

.eco-system .contents ul li.box-v2 .img-wrap img {}

.eco-system .contents ul li.box-v2 .txt-wrap {}

.eco-system .contents ul li.box-v2 .txt-wrap h4 {}

.eco-system .contents ul li.box-v2 .txt-wrap h6 {}

.eco-system .contents ul li.box-v2 .txt-wrap p {}

/* experience */
.experience {
    width: 100%;
    height: 570px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3)),
        url(../assets/images/experience_bg.jpg) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience .wrapper {
    text-align: center;
}

.experience .wrapper .txt {
    color: var(--white);
}

.experience .wrapper .txt p.title {
    font-weight: var(--font-weight-bold);
    font-size: 48px;
    margin-bottom: 24px;
}

.experience .wrapper .txt p.des {}

/* footer */
footer {
    height: 400px;
    color: var(--main-color);
    padding: 120px 0;
}

footer .inner {
    margin: 0 auto;
}

footer .inner .info {
    display: flex;
    width: 100%;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--main-color);
    justify-content: space-between;
    margin-bottom: 48px;
}

footer .inner .info h1 {}

footer .inner .info h1 a {}

footer .inner .info h1 a img {}

footer .inner .info nav.menu {}

footer .inner .info nav.menu ul {
    display: flex;
    column-gap: 64px;
}

footer .inner .info nav.menu ul li {}

footer .inner .info nav.menu ul li a {
    color: var(--main-color);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

footer .copy {}

footer .copy p {
    text-align: right;
}